#mainBackground {
    margin: auto;
    margin-top: 20px;
}

.nav-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

#page_title {
    margin-bottom: 25px;
}

div h2 {
    color: #fff;
}

body {
    background-image: url(images/painting2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#nav_logo {
    width: 15rem;
    margin-left: 2rem;
}

.sidenav li a {
    color: #fff;
}

#bio_card {
    margin: 25px 25px;
}

.artist {
    padding: 10px 0px 10px 10px;
}

.card-content {
    border-style: groove;
    border-width: 1px;
    margin: 1rem 1rem 1rem 1rem;
}

.card-content p {
    color: #fff;
}

#vertical-card {
    padding-bottom: 1rem;
}

.welcome {
    padding-top: 2px;
    padding-bottom: 2px;
}

h1 {
    color: #fff;
    font-size: 2rem;
    font-family: Times, serif;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-family: Times, serif;
}

h5 {
    font-family: Times, serif;
}

.gallery-item {
    padding: 0 !important;
    padding-right: 0.5rem !important;
    margin-bottom: 0.5rem;
}

#galleryDiv {
    padding: 2rem;
}

.carousel {
    height: 19rem;
    width: 95%;
    margin: auto;
}

.modal {
    overflow: hidden;
}

.modal-content img {
    height: 50vh;
}

.artist-modal {
    margin: auto;
}

button {
    margin-bottom: 2rem;
}

main {
    flex: 1 0 auto;
}

#preLink {
    display: inline;
}

#wiki_link {
    display: inline;
}

.material-icons {
    color: #fff;
}

#form-head {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
}

#formdiv {
    width: 80%;
}

input {
    color: #fff;
}

#textarea2 {
    color: #fff;
    overflow: auto;
}

.character-counter {
    color: #fff;
}

footer {
    margin-top: 25px;
}

footer a {
    color: #ffaa00 !important;
    text-decoration: underline;
}

footer h1 {
    size: 0.5rem !important;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        text-align: left;
        font-size: 3.5rem;
    }
    #formdiv {
        width: 50%;
    }
    .modal {
        height: 95vh !important;
        width: 70vw !important;
        overflow: hidden;
    }
}